# Ignore virtual environment
venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore compiled Python files
__pycache__/

# Ignore all __pycache__ directories recursively
**/__pycache__/

# Ignore .idea folder (for JetBrains IDEs)
.idea/

# Ignore macOS system files
.DS_Store

# Ignore specific directories and their contents
docs/*
!docs/             # Exclude the directory itself but not its contents

csv/*
!csv/              # Exclude the directory itself but not its contents

completed/*
!completed/        # Exclude the directory itself but not its contents

# Ignore root level unlocked.pdf file
unlocked.pdf

ledger_files/*